:root {
    --login-bkcolor:#1a5276;
    --page-bkcolor: white;
    --title-color:silver;
    --default-text-color: black;
    --default-font-size:10pt;
    --default-font-weight:100;
    --wait-message-font-color: navy;
    --error-message-color: red;
    --info-message-color: lightGreen;
    --input-background:linear-gradient(top, #d6d7d7, #dee0e0);
    --default-input-height: 22px;
    --wait-message-height: 30px;
}

